<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div>
    <span>ID: {{hero.id}}</span>
</div>
<div>
    <span>Name: {{hero.name}}</span>
</div>

<div>
    <label for="name">Hero Name:</label>
    <input type="text" name="name" id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes" 
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>